<section class="about-us">
  <div class="about-wrap container">
    <div class="wraper">
    <h2 class="about-title">About us</h2>
    <ul class="about-list-descrip">
      <li class="about-list-item">
    <p class="about-description " >
      Welcome to our premium watch collection, where luxury and style meet
      functionality and precision. Our selection of timepieces embodies the very
      best in Swiss craftsmanship and engineering, ensuring that you'll always
      have a reliable and stylish accessory on your wrist.
    </p>
  </li>
  <li class="about-list-item">
    <p class="about-description" >
      At our premium watch collection, we believe that a watch is more than just a
      timekeeping device – it's a statement piece that reflects your personality
      and style. So why settle for anything less than the best? Browse our
      collection today and discover the perfect watch for you.
    </p>
  </li>
  </ul>
</div>
<div class="about-gif-wrap">
    <img src="/img/Section-about+buy+now/watchspot.gif" class="about-gif" alt="watchspot" />
  </div>
  </div>
  </section>
  