<section class="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <picture>
          <source srcset="" />
          <img src="" alt="" class="catalog-list-img" />
        </picture>
        <p class="catalog-list-name"></p>
        <span class="catalog-list-price"></span>
      </li>
      <li class="catalog-list-item">
        <picture>
          <img src="" alt="" class="catalog-list-img" />
        </picture>
        <p class="catalog-list-name"></p>
        <span class="catalog-list-price"></span>
      </li>
      <li class="catalog-list-item">
        <picture>
          <img src="" alt="" class="catalog-list-img" />
        </picture>
        <p class="catalog-list-name"></p>
        <span class="catalog-list-price"></span>
      </li>
      <li class="catalog-list-item">
        <picture>
          <img src="" alt="" class="catalog-list-img" />
        </picture>
        <p class="catalog-list-name"></p>
        <span class="catalog-list-price"></span>
      </li>
      <li class="catalog-list-item">
        <picture>
          <img src="" alt="" class="catalog-list-img" />
        </picture>
        <p class="catalog-list-name"></p>
        <span class="catalog-list-price"></span>
      </li>
      <li class="catalog-list-item">
        <picture>
          <img src="" alt="" class="catalog-list-img" />
        </picture>
        <p class="catalog-list-name"></p>
        <span class="catalog-list-price"></span>
      </li>
      <li class="catalog-list-item">
        <picture>
          <img src="" alt="" class="catalog-list-img" />
        </picture>
        <p class="catalog-list-name"></p>
        <span class="catalog-list-price"></span>
      </li>
      <li class="catalog-list-item">
        <picture>
          <img src="" alt="" class="catalog-list-img" />
        </picture>
        <p class="catalog-list-name"></p>
        <span class="catalog-list-price"></span>
      </li>
      <li class="catalog-list-item catalog-list-item-mobile">
        <picture>
          <img src="" alt="" class="catalog-list-img" />
        </picture>
        <p class="catalog-list-name"></p>
        <span class="catalog-list-price"></span>
      </li>
      <li class="catalog-list-item catalog-list-item-mobile">
        <picture>
          <img src="" alt="" class="catalog-list-img" />
        </picture>
        <p class="catalog-list-name"></p>
        <span class="catalog-list-price"></span>
      </li>
      <li class="catalog-list-item catalog-list-item-mobile">
        <picture>
          <img src="" alt="" class="catalog-list-img" />
        </picture>
        <p class="catalog-list-name"></p>
        <span class="catalog-list-price"></span>
      </li>
      <li class="catalog-list-item catalog-list-item-mobile">
        <picture>
          <img src="" alt="" class="catalog-list-img" />
        </picture>
        <p class="catalog-list-name"></p>
        <span class="catalog-list-price"></span>
      </li>
    </ul>

    <button type="button">buy now</button>
  </div>
</section>
