<section id="catalog" class="section">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-link">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ../img/catalog-photos/catalog-1.jpg    1x,
                  ../img/catalog-photos/catalog-1@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="../img/catalog-photos/catalog-1.jpg"
                alt="catalog-watches"
                class="catalog-list-img"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-item-title overlay-text">description</h3>
              <p class="catalog-item-desc overlay-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="catalog-item-title overlay-text catalog-item-detail">
                details & featurestion
              </h3>
              <ul class="catalog-detail-list overlay-text">
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Gender: man</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Size: 46x54.5mm</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Case Colour: Steel</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Band Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Case Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Features: Multifunction
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-list-name">
            Tube Watch S42 Date Steel With Black Case
          </p>
          <span class="catalog-list-price">€395</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-link">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ../img/catalog-photos/catalog-2.jpg    1x,
                  ../img/catalog-photos/catalog-2@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="../img/catalog-photos/catalog-2.jpg"
                alt="catalog-watches"
                class="catalog-list-img"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-item-title overlay-text">description</h3>
              <p class="catalog-item-desc overlay-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="catalog-item-title overlay-text catalog-item-detail">
                details & featurestion
              </h3>
              <ul class="catalog-detail-list overlay-text">
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Gender: man</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Size: 46x54.5mm</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Case Colour: Steel</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Band Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Case Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Features: Multifunction
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-list-name">Avondale Watch Police For Men</p>
          <span class="catalog-list-price">€800</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-link">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ../img/catalog-photos/catalog-3.jpg    1x,
                  ../img/catalog-photos/catalog-3@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="../img/catalog-photos/catalog-3.jpg"
                alt="catalog-watches"
                class="catalog-list-img"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-item-title overlay-text">description</h3>
              <p class="catalog-item-desc overlay-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="catalog-item-title overlay-text catalog-item-detail">
                details & featurestion
              </h3>
              <ul class="catalog-detail-list overlay-text">
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Gender: man</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Size: 46x54.5mm</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Case Colour: Steel</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Band Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Case Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Features: Multifunction
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-list-name">
            Diver 300M Co-Axial Master Chronometer Chronograph
          </p>
          <span class="catalog-list-price">€600</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-link">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ../img/catalog-photos/catalog-4.jpg    1x,
                  ../img/catalog-photos/catalog-4@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="../img/catalog-photos/catalog-4.jpg"
                alt="catalog-watches"
                class="catalog-list-img"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-item-title overlay-text">description</h3>
              <p class="catalog-item-desc overlay-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="catalog-item-title overlay-text catalog-item-detail">
                details & featurestion
              </h3>
              <ul class="catalog-detail-list overlay-text">
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Gender: man</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Size: 46x54.5mm</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Case Colour: Steel</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Band Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Case Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Features: Multifunction
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-list-name">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <span class="catalog-list-price">€1400</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-link">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ../img/catalog-photos/catalog-5.jpg    1x,
                  ../img/catalog-photos/catalog-5@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="../img/catalog-photos/catalog-5.jpg"
                alt="catalog-watches"
                class="catalog-list-img"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-item-title overlay-text">description</h3>
              <p class="catalog-item-desc overlay-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="catalog-item-title overlay-text catalog-item-detail">
                details & featurestion
              </h3>
              <ul class="catalog-detail-list overlay-text">
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Gender: man</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Size: 46x54.5mm</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Case Colour: Steel</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Band Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Case Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Features: Multifunction
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-list-name">Taman Watch By Police For Men</p>
          <span class="catalog-list-price">€500</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-link">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ../img/catalog-photos/catalog-6.jpg    1x,
                  ../img/catalog-photos/catalog-6@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="../img/catalog-photos/catalog-6.jpg"
                alt="catalog-watches"
                class="catalog-list-img"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-item-title overlay-text">description</h3>
              <p class="catalog-item-desc overlay-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="catalog-item-title overlay-text catalog-item-detail">
                details & featurestion
              </h3>
              <ul class="catalog-detail-list overlay-text">
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Gender: man</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Size: 46x54.5mm</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Case Colour: Steel</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Band Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Case Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Features: Multifunction
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-list-name">Malawi Watch Police For Men</p>
          <span class="catalog-list-price">€555</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-link">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ../img/catalog-photos/catalog-7.jpg    1x,
                  ../img/catalog-photos/catalog-7@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="../img/catalog-photos/catalog-7.jpg"
                alt="catalog-watches"
                class="catalog-list-img"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-item-title overlay-text">description</h3>
              <p class="catalog-item-desc overlay-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="catalog-item-title overlay-text catalog-item-detail">
                details & featurestion
              </h3>
              <ul class="catalog-detail-list overlay-text">
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Gender: man</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Size: 46x54.5mm</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Case Colour: Steel</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Band Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Case Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Features: Multifunction
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-list-name">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <span class="catalog-list-price">€1200</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-link">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ../img/catalog-photos/catalog-8.jpg    1x,
                  ../img/catalog-photos/catalog-8@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="../img/catalog-photos/catalog-8.jpg"
                alt="catalog-watches"
                class="catalog-list-img"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-item-title overlay-text">description</h3>
              <p class="catalog-item-desc overlay-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="catalog-item-title overlay-text catalog-item-detail">
                details & featurestion
              </h3>
              <ul class="catalog-detail-list overlay-text">
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Gender: man</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Size: 46x54.5mm</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Case Colour: Steel</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Band Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Case Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Features: Multifunction
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-list-name">Greenlane Watch By Police For Men</p>
          <span class="catalog-list-price">€1000</span>
        </a>
      </li>
      <li class="catalog-list-item catalog-list-item-mobile">
        <a href="#" class="catalog-list-link">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ../img/catalog-photos/catalog-9.jpg    1x,
                  ../img/catalog-photos/catalog-9@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="../img/catalog-photos/catalog-9.jpg"
                alt="catalog-watches"
                class="catalog-list-img"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-item-title overlay-text">description</h3>
              <p class="catalog-item-desc overlay-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="catalog-item-title overlay-text catalog-item-detail">
                details & featurestion
              </h3>
              <ul class="catalog-detail-list overlay-text">
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Gender: man</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Size: 46x54.5mm</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Case Colour: Steel</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Band Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Case Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Features: Multifunction
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-list-name">Squardrc 5402 Chrono</p>
          <span class="catalog-list-price">€359</span>
        </a>
      </li>
      <li class="catalog-list-item catalog-list-item-mobile">
        <a href="#" class="catalog-list-link">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ../img/catalog-photos/catalog-10.jpg    1x,
                  ../img/catalog-photos/catalog-10@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="../img/catalog-photos/catalog-10.jpg"
                alt="catalog-watches"
                class="catalog-list-img"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-item-title overlay-text">description</h3>
              <p class="catalog-item-desc overlay-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="catalog-item-title overlay-text catalog-item-detail">
                details & featurestion
              </h3>
              <ul class="catalog-detail-list overlay-text">
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Gender: man</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Size: 46x54.5mm</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Case Colour: Steel</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Band Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Case Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Features: Multifunction
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-list-name">
            Diver 300M Co-Axial Master Chronometer Chronograph
          </p>
          <span class="catalog-list-price">€400</span>
        </a>
      </li>
      <li class="catalog-list-item catalog-list-item-mobile">
        <a href="#" class="catalog-list-link">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ../img/catalog-photos/catalog-11.jpg    1x,
                  ../img/catalog-photos/catalog-11@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="../img/catalog-photos/catalog-11.jpg"
                alt="catalog-watches"
                class="catalog-list-img"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-item-title overlay-text">description</h3>
              <p class="catalog-item-desc overlay-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="catalog-item-title overlay-text catalog-item-detail">
                details & featurestion
              </h3>
              <ul class="catalog-detail-list overlay-text">
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Gender: man</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Size: 46x54.5mm</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Case Colour: Steel</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Band Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Case Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Features: Multifunction
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-list-name">Citizen</p>
          <span class="catalog-list-price">€519</span>
        </a>
      </li>
      <li class="catalog-list-item catalog-list-item-mobile">
        <a href="#" class="catalog-list-link">
          <div class="catalog-img-wrapper">
            <picture>
              <source
                srcset="
                  ../img/catalog-photos/catalog-12.jpg    1x,
                  ../img/catalog-photos/catalog-12@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="../img/catalog-photos/catalog-12.jpg"
                alt="catalog-watches"
                class="catalog-list-img"
              />
            </picture>
            <div class="catalog-overlay">
              <h3 class="catalog-item-title overlay-text">description</h3>
              <p class="catalog-item-desc overlay-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h3 class="catalog-item-title overlay-text catalog-item-detail">
                details & featurestion
              </h3>
              <ul class="catalog-detail-list overlay-text">
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Gender: man</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Size: 46x54.5mm</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Case Colour: Steel</p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Band Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Case Material: Metal
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Features: Multifunction
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">
                    Water Resistant: 5 (ATM)
                  </p>
                </li>
                <li class="catalog-detail-list-item">
                  <p class="catalog-detail overlay-text">Band Colour: Steel</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="catalog-list-name">Armani Exchange</p>
          <span class="catalog-list-price">€400</span>
        </a>
      </li>
    </ul>

    <div class="catalog-btn-wrapper">
      <button class="catalog-btn" type="button" data-modal-open>buy now</button>
    </div>
  </div>
</section>
