<footer class="footer">
  <div class="container footer-container">
    <div class="footer-logo">
      <a class="logo link" href="./index.html">
        <img
          srcset="../img/Section-footer/logo-4-2x-min.jpg 2x"
          src="../img/Section-footer/logo-4-min.jpg"
          alt="logo"
          width="40"
          height="40"
        />
      </a>
      <address class="footer-adres">
        <ul class="footer-adress-list">
          <li class="footer-address-link">
            <a class="address-tel" href="+380684439426">+380 (68) 443-94-26</a>
          </li>
          <li class="footer-address-link">
            <a class="address-mup" href=""
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="footer-name">
      <ul class="footer-name-list">
        <li class="footer-name-link">
          <a href="./about-us.html">About us</a>
        </li>
        <li class="footer-name-link">
          <a href="./catalog.html">Catalog</a>
        </li>
        <li class="footer-name-link">
          <a href="./sale.html">Sale</a>
        </li>
      </ul>
    </div>
    <div class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-link">
          <a class="footer-soc" href="">
            <svg class="footer-icon">
              <use
                href="../img/Section-footer/set-icon-footer.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-nav-link">
          <a class="footer-soc" href="">
            <svg class="footer-icon">
              <use
                href="../img/Section-footer/set-icon-footer.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-nav-link">
          <a class="footer-soc" href="">
            <svg class="footer-icon">
              <use
                href="../img/Section-footer/set-icon-footer.svg#icon-youtube"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer-copy">
        <p>&#169;2022 The Watch Spot. All rights reserved.</p>
        <p>Privacy Policy</p>
        <p>Terms of Service</p>
      </div>
    </div>
  </div>
</footer>
