<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo link" href="./index.html">
        <img
          src="../img/header-logo/logo-mob.svg"
          class="header-logo-img"
          alt="site-logo"
        />thewatchspot</a
      >
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href="">About us</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="">Catalog</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="">sale</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn" type="button">
      <a class="btn link" href="tel:+380 (68) 443-94-26">+380 (68) 443-94-26</a>
    </button>
    <button type="button" class="mob-menu-open-btn mobile" data-menu-open>
      <svg class="mob-menu-icon" width="20" height="14">
        <use href=""></use>
      </svg>
    </button>
  </div>
  <!--<div class="mob-menu">
    <button type="button" class="mob-menu-close-btn mobile" data-menu-close>
      <svg class="mob-menu-icon" width="20" height="14">
        <use href=""></use>
      </svg>
    </button>
    <nav class="header-nav">
      <a class="header-logo link" href="./index.html">
        <img src="" class="header-logo-img" alt="site-logo"/>thewatchspot</a
      >
      <ul class="mob-menu-list list">
        <li class="mob-menu-item">
          <a class="mob-menu-link link" href="">About us</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link link" href="">Catalog</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link link" href="">sale</a>
        </li>
      </ul>
    </nav>
  </div>-->
</header>
