<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo link" href="./index.html">
        <img src="" class="header-logo-img" alt="site-logo" />thewatchspot</a
      >
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href="">About us</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="">Catalog</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="">sale</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn" type="button">
      <a class="btn link" href="tel:+380 (68) 443-94-26">+380 (68) 443-94-26</a>
    </button>
  </div>
</header>
