<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        Welcome to our collection of premium watches
      </h1>
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.
      </p>
      <div class="slider">
        <picture>
          <source srcset="
          /img/section-hero/mobile/slider-img-mobile-1-min.webp 1x, 
          /img/section-hero/mobile/slider-img-mobile-1@2x-min.webp 2x" 
          media="(max-width: 375px)"
          type="image/webp">
          <source srcset="
          /img/section-hero/mobile/slider-img-mobile-1-min.jpg 1x, 
          /img/section-hero/mobile/slider-img-mobile-1@2x-min.jpg 2x" 
          media="(max-width: 375px)">
          <source srcset="
          /img/section-hero/slider-img-1-min.webp 1x, 
          /img/section-hero/slider-img-1@2x-min.webp 2x" 
          media="(min-width: 376px)"
          type="image/webp">
          <source srcset="
          /img/section-hero/slider-img-1-min.jpg 1x, 
          /img/section-hero/slider-img-1@2x-min.jpg 2x" 
          media="(min-width: 376px)">
          <img class="slider-picture" 
          src="/img/section-hero/mobile/slider-img-mobile-1-min.jpg"
          alt="clock-1" 
          width="266" 
          height="200">
        </picture>
        <div class="slider-wrap">
          <div class="slider-buttons">
            <button class="slider-button button-left" type="button">Left</button>
            <button class="slider-button button-right" type="button">Right</button>
          </div>
          <div class="slider-pagination">
            <span>01</span>
            <span>05</span>
          </div>
        </div>  
      </div>
      <picture>
        <source srcset="
        /img/section-hero/mobile/hero-img-min.webp 1x, 
        /img/section-hero/mobile/hero-img@2x-min.webp 2x" 
        media="(max-width: 375px)"
        type="image/webp">
        <source srcset="
        /img/section-hero/mobile/hero-img-min.jpg 1x, 
        /img/section-hero/mobile/hero-img@2x-min.jpg 2x" 
        media="(max-width: 375px)">
        <source srcset="
        /img/section-hero/hero-img-min.webp 1x, 
        /img/section-hero/hero-img@2x-min.webp 2x" 
        media="(min-width: 376px)"
        type="image/webp">
        <source srcset="
        /img/section-hero/hero-img-min.jpg 1x, 
        /img/section-hero/hero-img@2x-min.jpg 2x" 
        media="(min-width: 376px)">
        <img class="hero-img" 
        src="/img/section-hero/mobile/hero-img-min.jpg"
        alt="clock-on-hand" 
        width="335" 
        height="410">
      </picture>
    </div>
  </div>
</section>