<section>
    <div class="mobile-menu is-hidden-menu" data-menu>
    <div class="header-menu">
        <a class="logo-menu" href="./index.html">
            <img src="../img/mobile-menu/logo-menu.png" 
            alt="logo"
            width="14"
            height="14">
            <span class="menu-logo-text">thewatchspot</span>
        </a>
        <button data-menu-close>
            <svg width="12" height="12">
                <use></use>
            </svg>
        </button>
    </div>
        <ul class="mobile-menu-list">
            <li><a class="mobile-menu-link" href="#about">About us</a></li>
            <li><a class="mobile-menu-link" href="#catalog">Catalog</a></li>
            <li><a class="mobile-menu-link" href="#sale">Sale</a></li>
        </ul>
    </div>
</section>