<section class="section new-watches">
    <div class="container">
        <h2 class="new-watches-title">New watches</h2>
        <p class="new-watches-text">Green And Bronze —The 
        Match Made In Heaven</p>
    
    <ul class="list-new-watches">
        <li>
            <img 
            srcset="/img/new-watches/newwatches1.jpg 1x,
            /img/new-watches/newwatches1-2x.jpg 2x"
            src="/img/new-watches/newwatches1.jpg" 
            alt="Green Watch"
            width="576"
            height="422">
        </li>

        <li>
            <img 
            srcset="/img/new-watches/newwatches2.jpg 1x,
            /img/new-watches/newwatches2-2x.jpg 2x"
            src="/img/new-watches/newwatches2.jpg"
            alt="Bronze Watch"
            width="576"
            height="422">
        </li>
    </ul>

    </div>
</section>