<section class="section">
    <div class="container new-watches">
    <p class="new-watches-name">New watches</p>
    <h2 class="new-watches-title">Green And Bronze—The Match Made In Heaven</h2>

    <img src="/src/img/new-watches/NewWatches1.jpg" 
    srcset="/src/img/new-watches/NewWatches1-2x.jpg 2x"
    alt="Green Watch"
    width="576"
    height="422">
    <img src="/src/img/new-watches/NewWatches2.jpg" 
    srcset="/src/img/new-watches/NewWatches2-2x.jpg 2x"
    alt="Bronze Watch"
    width="576"
    height="422">
    </div>
</section>