.footer {
    background-color : var(--bg-slider-titles-and-mobile-menu);
   
}
.container {
    padding-top: 40px;
}
.footer-container {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    
}
.footer-logo {
    
}
.logo {
   
}
.footer-adres {
    
}

.footer-adress-list {
    
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-tel-link {
    margin-bottom: 20px;
}

.address-tel {
    display: flex;
    flex-wrap: wrap;
    width: 136px;
    height: 18px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--any-white-color-and-bg);
}

.address-mup {
    display: flex;
    flex-wrap: wrap;
    width: 141px;
    height: 54px;
    
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--any-white-color-and-bg);
}

.footer-name {
   
    
    
    
}

.footer-name-list {
    
}

.footer-name-link {
    margin-bottom: 14px;
}
.name-text {
    
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--any-white-color-and-bg);

}

.footer-nav {
    
}

.footer-nav-list {
    margin-bottom: 80px;
    display: flex;
        gap: 14px;
}

.footer-nav-link {}

.footer-soc {
    
}

.footer-icon {
    width: 40px;
    height: 40px;
    fill: #FFFFFF;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.footer-icon {

}

.footer-copy {
    padding-bottom: 20px;
}

.copy-text {
    margin-bottom: 14px;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-family);
    height: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: #C6CDD1;
    opacity: 0.9;
}
.footer-policy {
    display: flex;
    
}

.policy {
    margin-right: 14px;
    font-family: var(--font-family);
    height: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: #C6CDD1;
}
.policy-text {
    
   
    height: 14px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #C6CDD1;
}

/* ---------media--768--------------- */
@media screen and (min-width: 768px) {
.container {
    padding-top: 80px;
}

.footer-container {
   
    }
.footer-logo {
   
    
}

.footer-nav {
  
}
.footer-nav-list {
    gap: 16px;
}
.footer-name-link {
    margin-bottom: 18px;
}
.footer-copy {
    display: flex;
    justify-content: space-between;
}
.footer-name {
    
}
.copy-text {
    margin-bottom: 0;
}

}
/* -------1280----------- */

@media screen and (min-width: 1280px) { 
.container {
    padding-top: 104px;
        padding-left: 132px;
        padding-right: 132px;
}
.footer-container {
   margin-bottom: 174px;
}

.copy-text {
    margin-bottom: 0;
}
.footer-copy {
    padding-bottom: 32px;
}
}