


/* ================== MEDIA ==================== */

.container {
  /* to styles css */
  max-width: 1176px;
  padding: 0 12px;
  margin: 0 auto;
}

.hero {
  background-color: var(--bg-section-hero-and-header);
  color: var(--any-white-color-and-bg);
  padding: 148px 0 80px;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 43px;
}

.hero-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 1;
  /* margin-right: 144px; */
  max-width: 750px;
}

.hero-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.28;
  max-width: 282px;
  letter-spacing: -0.02em;
}

.slider {
  max-width: 436px;
  /* margin-right: 64px; */
  align-self: flex-end;
}

.slider-picture {
  background-color: var(--bg-slider-titles-and-mobile-menu);
  margin-bottom: 20px;
}

.slider-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-button {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background: transparent;
  color: transparent;
}

.slider-button:hover {
 border-color: var(--any-white-color-and-bg);
}

.slider-button:not(:last-child) {
  margin-right: 12px;
}

.slider-pagination {
font-weight: 400;
font-size: 14px;
line-height: 1.29;
color: var(--any-white-color-and-bg);
position: relative;
}

.slider-pagination span:not(:last-child) {
  margin-right: 52px;
}

.slider-pagination span:not(:last-child)::after {
  content: '';
  position: absolute;
  display: block;
  left: 21px;
  top: 7px;
  width: 40px;
  height: 1px;
  background-color: var(--any-white-color-and-bg);
}


