/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('/css/modern-normalize.css');
@import url('/css/variables.css');
@import url('/css/reset.css');
@import url('/css/base.css');
/** @import url('/css/font.css'); */
@import url('/css/mobile-menu.css');
@import url('/css/modal.css');
@import url('/css/header.css');
@import url('/css/hero.css');
@import url('/css/about-us.css');
@import url('/css/catalog.css');
@import url('/css/new-watches.css');
@import url('/css/sale.css');
@import url('/css/footer.css');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Epilogue', sans-serif;
}

